
<div class="container">

  <div class="signup-form">
    <%= form_tag "/users", method: 'post' do %>
      <h1 class="signup-heading">Sign up to contribute, rate and save your favourite street art.</h1>
      <p>
        <label for="">Email:</label>
        <input class="email"type="text" name="email">
      </p>
      <p>
        <label for="">Password:</label>
        <input class="password" type="password" name="password">
      </p>
        <button class="signup-button">Sign Up</button>
    <% end %>
  </div>
  
  <div class="image" style="background-image:url('<%= @picture %>')"></div>

</div>