.home_title{
  width: 582px;
  margin: 0 auto;
  h1{ 
  font-family: Raleway;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  color: var(--white);
  }
  h2{
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    color: var(--white);
  }
}

.home_search_form{
  margin: 0 auto;
  width: 250px;

  input[type="text"] {
    padding-right: 50px;
    width: 239px;
    height: 50px;
    border-radius: 6px;
    background-color: #ffffff;
    background-color: var(--white);
    border: solid 1px #dce2ee;
  }

  .search-submit {
      margin-left: -40px;
      height: 45px;
      width: 30px;
      border: 0;
  }
  .fas fa-search{
    margin-left: -5px;
  }
}

div.explore{
  h2{
    font-family: Raleway;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #485465;
    color: var(--slate);
    text-align:center;
  }
  span{
    font-family: Raleway;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #485465;
    color: var(--slate);
  }
  .explore_images{
    margin-left: 60px;
  }
}