$main-color: #3B48EE;

.home_title{
  margin: 0 auto;
  h1{ 
  font-family: Raleway;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  color: var(--white);
  }
  h2{
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    color: var(--white);
  }
}

.home_search_form{
  margin: 0 auto;
  width: 250px;

  input[type="text"] {
    font-family: Raleway;
    padding-left: 10px;
    width: 239px;
    height: 50px;
    border-radius: 6px;
    background-color: #ffffff;
    background-color: var(--white);
    border: solid 1px #dce2ee;
  }

  input::placeholder{
    color: #A8B4C4;
  }

  .search-submit {
    margin-left: -40px;
    height: 45px;
    width: 30px;
    border: 0;
    background-color: white;
  }
  .fa-search{
    margin-left: -5px;
    color: $main-color;
  }
}

div.explore{
  h2{
    font-family: Raleway;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #485465;
    color: var(--slate);
    text-align:center;
  }
  span{
    font-family: Raleway;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #485465;
    color: var(--slate);
  }
  .explore_images{
    margin-left: 60px;
  }
}

div.explore_image {
  img {
    width: 100%;
  }
}

@media (min-width: 32.5em) {
  .home_title {
    h1 {
      font-size: 60px;
    }
  }

  div.explore {
    h2 {
      font-size: 60px;
    }
    span {
      font-size: 24px;
    }
  }
}