$main-color: #3b48ee;
$sec-color: #FF4461;
$invert-color: white;
$bold: 'Raleway-Bold';
$transition: all 0.8s ease;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: $invert-color;
}

.menu {
  display: flex;
  width: 100%;
  background-color: $main-color;
  padding: 0.3em 1.3em;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 30px;
  width: 30px;
}

.fa-bars {
  color: white;
}


.hidden-menu {
  background-color: $main-color;
  font-family: $bold;
  font-size: 32px;
  color: #FFFFFF;
  text-align: center;
}

h1 {
  font-family: Raleway-Bold;
  font-size: 32px;
}

.logout {
  background-color: $main-color;
  font-family: $bold;
  font-size: 32px;
  color: #FFFFFF;
  text-align: center;
  border: 0;
  transition: $transition;
}

.panel {
  padding: 0.7em 0;
}

.panel-desktop {
  display: none;
}

.logout::hover {
  font-size: 32px;
  color: $sec-color;
  text-shadow: 0 3px 6px rgba(255,68,97,0.30);
}

.hide {
  position: absolute;
  top: -130%;
  transition: $transition;
}

.show {
  position: absolute;
  top: 0;
  transition: $transition;
}

.panel {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  padding: 0.8em 1.3em;
  
}

.fa-times {
  align-self: flex-end;
}


footer {  
  color: white;
  display: flex;
  width: 100%;
  background-color: $sec-color;
  padding: 0 1.3em;
  align-items: center;
  justify-content: space-between;
}

// @media (min-width: 300px) {
//   .menu {
//     background-color: white;
//     width: 100%;
//     margin: 0 auto;
//   }
// }


@media (min-width: 55.5em) {
  
  body {
    margin: 0 auto;
  }

  .panel-desktop {
    display: block;
    padding: 0.7em 0;
    display: flex;
  }
  
  .panel-desktop h1 {
    font-size: 1em;
  }

  .panel-desktop a {
    margin-left: 2em;
    color: $main-color;
  }

  .icon {
    display: none;
  }

  .menu {
    background-color: white;
    width: 940px;
    margin: 0 auto;
  }

  .logout {
    background-color: white;
    font-family: $bold;
    font-size: 32px;
    color: $main-color;
    text-align: center;
    border: 0;
    transition: $transition;
  }
  
  .logout::hover {
    font-size: 32px;
    color: $sec-color;
    text-shadow: 0 3px 6px rgba(255,68,97,0.30);
  }

}