// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-color: #3b48ee;

* {
  box-sizing: border-box;
}

div.stars {
  width: 400px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}



.comments-area{
  text-align: left;

}

.comment-textarea{
  height: 41px;
  border-radius: 8px;
  border: solid 1px #dce2ee;
  width: 90vw;
}

.area-button{
  display: flex;
}

.comment-button{
  margin-left: 20px;
  width: 143px;
  height: 51px;
  border-radius: 25px;
  background-color: #3b48ee;
  box-shadow: 0 3px 6px 0 rgba(59, 72, 238, 0.3);
  color: white;
  font-size: 16px;
}

.comments-list{
  width: 90vw;
}


.show-container{
  margin-left: 30px;
}

.icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}




// user upload new pic page
form.new_picture_form{
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  h1{
  text-align: center;
  color: #666666;
}
  input { 
    width: 100%;
    height: 41px;
    border-radius: 8px;
    border: solid 1px #dce2ee;
    } 
  label{
   display: block;
   text-align: left;
  }
  input#submit_new_pic{
    width: 143px;
    height: 51px;
    border-radius: 25px;
    background-color: #3b48ee;
    box-shadow: 0 3px 6px 0 rgba(59, 72, 238, 0.3);
    margin-top: 15px;
    font-size: 16px;
  }
}

.upload_background_pic{
  display: none;
}

@media (min-width: 37.5em) {
  .container {
    display: flex;
    height: 90vh;
  }
  
  .upload_new_pic{
    height: 90vh;
    width: 50vw;
  }
  
  .upload_background_pic{
    height: 90vh;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  input {
    height: 41px;
    border-radius: 8px;
    border: solid 1px #dce2ee;
  }
  
 form.new_picture_form{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
  
  label {
    display: block;
    text-align: left;
  }
}

div.favourites {
  width: 400px;
  display: inline-block;
}

input.checkbox-1.favourite-checkbox { display: none; }

label.favourite-checkbox {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.favourite-checkbox:checked ~ label.favourite-checkbox:before {
  content: '\002764	';
  color:red;
  transition: all .25s;
}

input.checkbox-1:checked ~ label.favourite-checkbox:before {
  color: red;

}

label.favourite:hover { transform: rotate(-15deg) scale(1.3); }

label.favourite-checkbox:before {
  content: '\002764';
  
  font-family: FontAwesome;
}