// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-color: #3b48ee;

* {
  box-sizing: border-box;
}
div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

div.upload_new_pic{
  width: 350px;
  float:left;
}
h1{
  font-family: Raleway;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #485465;
  color: var(--slate);
}
form.new_picture_form{
  line-height: 200%;
  font-size: 18px;
  input { 
    width: 263px;
    height: 41px;
    border-radius: 8px;
    border: solid 1px #dce2ee;
    } 
  label{
    width: 75px;
    height: 19px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #485465;
    color: var(--slate);
  }
  input#submit_new_pic{
    width: 143px;
    height: 51px;
    border-radius: 25px;
    background-color: #3b48ee;
    box-shadow: 0 3px 6px 0 rgba(59, 72, 238, 0.3);
    margin-top: 15px;
    font-size: 16px;
  }
}

div.upload_background_pic{
  float:right;
  margin-right:200px;
}
